.buttonsContainer {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.responseContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
}

.imageContainer {
}

.image {
}

.textContainer{
    align-content: center;
}

.code {
    font-size: 37px;
    margin-bottom: 10px;
}

.text {
}
.info {
}