button {
    border-radius: 3px;
    padding: 5px 24px;
    background-color: #06c;
}

.disabled {
    background: #004d99;
    opacity: 0.5;
}

.secondary {
}

.default {
}

.red {
    background: #cc1439;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
